services:
  cs2_modded_server:
    image: ghcr.io/kus/cs2-modded-server:latest
    container_name: cs2-modded-server
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - STEAM_ACCOUNT=${STEAM_ACCOUNT}
      - API_KEY=${STEAM_API_KEY}
      - CS2_GAMETYPE=0
      - CS2_GAMEMODE=0
      - CS2_MAPGROUP=mg_active
      - CS2_STARTMAP=de_dust2
      - CS2_RCON_PORT=27015
      - CS2_PORT=27015
      - CS2_MAXPLAYERS=32
      - CS2_ADDITIONAL_ARGS=-nohltv
      - INSTALL_PLUGINS=false
    volumes:
      - cs2-volume:/home/steam/
      - type: bind
        source: ./custom_files
        target: /home/custom_files/
    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "27020:27020/tcp"
      - "27020:27020/udp"
    cpu_count: 4
    mem_limit: 4096m
    # command: tail -F anything

  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: cs2-bot
    restart: unless-stopped
    entrypoint:
      - /bin/bash
      - /app/entrypoint.sh
    env_file:
      - .env
    environment:
      - RCON_HOST=cs2_modded_server
      - RCON_PORT=27015
      - RCON_PASSWORD=${RCON_PASSWORD}
      - CS2_PASSWORD=${CS2_PASSWORD}
      - CS2_SERVERNAME=${CS2_SERVERNAME}
    depends_on:
      - cs2_modded_server
    volumes:
      - ./bot:/app
      - cs2-volume:/cs2-data:ro

volumes:
  cs2-volume:
