services:
  cs2_modded_server:
    image: ghcr.io/kus/cs2-modded-server:latest
    container_name: cs2-modded-server
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - PUBLIC_IP=${PUBLIC_IP:-0.0.0.0}
      - LAN=0
      # Friendly Fire
      - CS2_CFG_mp_friendlyfire=1
      - CS2_CFG_ff_damage_reduction_bullets=0.33
      - CS2_CFG_ff_damage_reduction_grenade=0.85
      - CS2_CFG_ff_damage_reduction_grenade_self=1
      - CS2_CFG_ff_damage_reduction_other=0.4
      # Rates / Tick
      - CS2_CFG_sv_maxrate=0
      - CS2_CFG_sv_minrate=196608
      - CS2_CFG_sv_maxupdaterate=128
      - CS2_CFG_sv_minupdaterate=64
      - CS2_CFG_sv_mincmdrate=64
      - CS2_CFG_sv_maxcmdrate=128
      # Net/Thread tuning
      - CS2_CFG_net_maxcleartime=0.001
      - CS2_CFG_sv_parallel_packentities=1
      - CS2_CFG_sv_parallel_sendsnapshot=1
      - CS2_CFG_host_thread_mode=2
      - CS2_CFG_sv_clockcorrection_msecs=15
      - CS2_CFG_sv_max_queries_sec_global=60
      - CS2_CFG_sv_max_queries_window=60
      - CS2_CFG_sv_max_queries_sec=5
      - CS2_CFG_sv_lagcompensation_teleport_dist=64
      - CS2_CFG_sv_maxunlag=0.4
    volumes:
      - cs2-volume:/home/steam/
      - type: bind
        source: ./custom_files
        target: /home/custom_files/
      - type: bind
        source: ./game
        target: /home/game/
    ports:
      - "27015:27015/tcp"
      - "27015:27015/udp"
      - "27020:27020/tcp"
      - "27020:27020/udp"
    cpu_count: 2
    mem_limit: 3500m

  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: cs2-bot
    restart: unless-stopped
    entrypoint:
      - /bin/bash
      - /app/entrypoint.sh
    env_file:
      - .env
    environment:
      - RCON_HOST=cs2_modded_server
      - RCON_PORT=27015
      - RCON_PASSWORD=${RCON_PASSWORD}
      - CS2_PASSWORD=${CS2_PASSWORD}
      - CS2_SERVERNAME=${CS2_SERVERNAME}
    depends_on:
      - cs2_modded_server
    volumes:
      - ./bot:/app
      - cs2-volume:/cs2-data:ro

volumes:
  cs2-volume: